{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12"> 
    <table class="table table-bordered">
    <tr>
    	<td>Дата</td>
    	<td>Файл</td>
    	<td>Контрагент</td>
    </tr>
    {% for file in files %}
    	{% if file.is_done %}<tr class="success">
        {% elif file.is_sent %}<tr class="info">
        {% else %}<tr class="warning">
        {% endif %}
            <td>{{ file.doc_date|date:"d.m.Y" }}</td>
            <td>{{ file.name }}</td>
            <td>{{ file.orgname }}</td>
        </tr>
    {% empty %}
    <p>Нет записей</p>
    {% endfor %}
    </table>

    </div>
</div>
    
{% endblock %}

{% block paginator %}
{% if is_paginated %}
<nav>
  <ul class="pagination pagination-lg">
    
    {% if page_obj.has_previous %}
    <li>      
      <a href="{% url 'p365-list-page' 1 %}" aria-label="First">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="{% url 'p365-list-page' page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
    {% endif %}
    
    <li class="active"><a href="#">{{ page_obj.number }}<span class="sr-only">(current)</span></a></li>

    {% if page_obj.has_next %}
    <li><a href="{% url 'p365-list-page' page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
    <li>
      <a href="{% url 'p365-list-page' page_obj.paginator.num_pages %}" aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
    </a>
    </li>
    {% endif %}

  </ul>
</nav>
{% endif %}
{% endblock %}