{% extends 'base.html' %}
{% block content %}
    <p>
    {{ file.name }} 
    {{ file.doc_date|date:"d.m.Y" }}
    {{ file.orgname }}
    </p>
    <br>
    <p>Ответные сообщения:</p>
    {% for result in file.result_set.all %}
    	<p>
        {{ result.name }} 
        {{ result.doc_date|date:"d.m.Y" }} 
        {{ result.service }} 
        {{ result.processed }} 
        {{ result.description }}
        </p>
    {% endfor %}
    <a href="{% url 'p311-list' %}"> К списку сообщений</a>
    
{% endblock %}