{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-9"> 
    <table class="table table-bordered">
    <tr>
    	<td>Дата</td>
    	<td>Файл</td>
    	<td>Контрагент</td>
    </tr>
    {% for file in files %}
    	<tr>
    		<td>{{ file.doc_date|date:"d.m.Y" }}</td>
        	<td><a href="{% url 'p311-detail' file.pk %}">{{ file.name }}</a></td>
        	<td><a href="{% url 'p311-orgmessage' file.orgname %}">{{ file.orgname }}</a></td>
        </tr>
    {% empty %}
    <p>Нет записей</p>
    {% endfor %}
    </table>

    </div>
    <div class="col-md-3">
    <p><a href="{% url 'p311-new' %}">Загрузить файл</a></p>
    </div>
</div>
    
{% endblock %}

{% block paginator %}
{% if is_paginated %}
<nav>
  <ul class="pagination pagination-lg">
    {% if page_obj.has_previous %}
    <li>
      <a href="{% url 'p311-list-page' page_obj.previous_page_number %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    <li><a href="#">{{ page_obj.number }}</a></li>
    {% if page_obj.has_next %}
    <li>
      <a href="{% url 'p311-list-page' page_obj.next_page_number %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}